<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apartwell">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.NoticeboardActivity"
            android:parentActivityName=".Activities.UserHomePage">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.UserHomePage" />
        </activity>
        <activity
            android:name=".Activities.createComplaintActivity"
            android:parentActivityName=".Activities.ComplaintActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ComplaintActivity" />
        </activity>
        <activity
            android:name=".Activities.ComplaintActivity"
            android:parentActivityName=".Activities.UserHomePage">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.UserHomePage" />
        </activity>
        <activity
            android:name=".Activities.createBookingActivity"
            android:parentActivityName=".Activities.BookingActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.BookingActivity" />
        </activity>
        <activity
            android:name=".Activities.BookingActivity"
            android:parentActivityName=".Activities.UserHomePage">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.UserHomePage" />
        </activity>
        <activity android:name=".Activities.UserHomePage" />
        <activity
            android:name=".Activities.EditProfile"
            android:parentActivityName=".Activities.Profile_view">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Profile_view" />
        </activity>
        <activity
            android:name=".Activities.Profile_view"
            android:parentActivityName=".Activities.UserHomePage">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.UserHomePage" />
        </activity>
        <activity
            android:name=".Activities.SignUp"
            android:parentActivityName=".Activities.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.LoginActivity" />
        </activity>
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>